.alert p{margin: 0;}
.error
{
    color: red;
}
.photo
{
    min-width: 150px;
    max-width: 150px;
    max-height: 150px;
    min-height: 150px;
}
nav.side-navbar ul
{
    padding-top: 0;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.pagination li a, .pagination li span {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination li.active span
{
        background-color: #2f333e;
    color: white;
}

.pagination li a:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.pagination li:first-child a {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.disabled span {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

ul.search-filter-box
{
        list-style: none;
    width: 100%;
    background: white;
    padding: 20px;
}
ul.search-filter-box li
{
    display: inline-block;
}